<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="Liste_of_Listes.js"></script>
        <title>Liste de choses à faire</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body ng-app="totoList">
    <div ng-controller="mainController" class="container">
        <table>
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col">Task</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tr ng-repeat="liste in ListeofLists" >
                    <th scope="col">{{ $index }}</th>
                    <th scope="col" id="xtext-{{ $index }}">{{ liste }}</th> 
                    <!-- -
                    <th scope="col">
                        <button class="btn btn-primary" id="btn-modify-{{ $index }}" ng-click="goTodo(liste, $index)">Modifier</button>
                    </th>
                    -->
                    <th scope="col">
                        <button class="btn btn-danger" ng-click="deleteListe(liste)"> x </button>
                    </th>
                    <th scope="col">
                        <button class="btn btn-danger" ng-click="goToListe(liste)"> Go to the list ! </button>
                    </th>

                    <!--
                    <th scope="col">
                        <button class="btn btn-danger" ng-click="ShareTodo(liste._id)"> x </button>
                    </th>
                    -->
            </tr>
        </table>
        
        <input type="text" ng-model="NouvelleListe"></input>
        <button class="btn btn-danger" ng-click="createListe()"> Creer une liste  </button>

        
        
    </div>